/*========== Geral============*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    color: black;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
} */
*{
    background-color: #fff;
    box-sizing: inherit;
    vertical-align: baseline;
    --theme-entreteriment: #ff6700;
    --theme-notice: #06aa48;
    --theme-news:#c4170c;
    --theme-oglobo: #1e4c9a;
    --text:#2f3134;
}
a {
        text-decoration: none;  
}
img {
    max-width: 100%;
}
/*========== Container principal ============*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 36px;
    max-width: 1320px;
}
/*========== Header ============*/
.header-item{
    display: flex;
    position: sticky;
}
/*========== Menu auxiliar - Esquerda ============*/
#menu{
    padding: 13px;
    margin: 1px;
    display: flex;
    align-items: center;
    margin-right: 62px;
}

.main-menu__menu {
    position: center;
    overflow: hidden;
    padding-right: 4px;
    margin-left: -13px;
}
.container #Menu-Menu{
    margin-left: 13px;
    font-size: 15px;
    display: flex;
    color: var(--text);
}
.container #Menu-Assine{
    display: flex;
    padding:  0px 13px;
    font-size: 15px;
    color: var(--text);
    border-left: 1px solid #ebedef;
}
/*========== Logo ============*/
.header-grid__logo {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.auxiliary-menu {
    display: flex;
    align-items: center;
    text-align: center;
}
.header-contaglobo {
    display: inline-flex;
    align-items: center;
}
/*========== Menu Auxiliar - Direita ============*/
.tooltip-contaglobo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 15px;
}
.auxiliary-menu__search {
    border-left: 1px solid #ebedef;
    font-size: 15px;
    padding-left: 8px;
    display: flex;
    margin-left: 14px;
}
/*========== Lista de menus ============*/
.header-titles{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: baseline;
    
}
.header-titles a {
    display: flex;
    align-items: center;
    vertical-align: baseline;
    padding: 10px 12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
.wapper-titles{
    border: 1px solid #ebedef;
    border-width: 1px 0px;
}

.g1 {
    color: #c4170c;
    margin-left: -2px;
    margin-right: -2px;
}

.valor {
    color: #1e4c9a;
    margin-right: -2px;
}

.oglobo{
    color: #006767;
    margin-right: -2px;
}

.ge{
    color: #06aa48;
    margin-right: -2px;
}

.cartola{
    color: #ff7400;
    margin-right: -2px;
}

.globoplay{
    color: #fb0234;
    margin-right: -2px;
}

.gshow{
    color: #ff6700;
    margin-right: -2px;
}

.quem{
    color: #333333;
    margin-right: -2px;
}

.compras{
    color: #f03018;
    margin-right: -2px;
}
.receitas{
    color: #a5147d;
    margin-right: -2px;
}
/*========== Container - conteúdo ============*/
.section{
    padding: 0 36px;
    max-width: 1320px;
    max-height: 830px;
    margin-left: auto;
    margin-right: auto;
}
/*========== Colunas (1 e 2) ============*/
.post-body{
    display: flex;
    flex-direction: row-reverse;
    Justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;    
}
.post-body img{
    margin-bottom: 12px;
    border-radius: 12px;
    width: 240px;
    height: 128px;
}
.post-column{
    padding-left: 36px;
    padding-top: 10px;
    font-size: 20px;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #ebedef;
}
/*========== Coluna Entreterimento ============*/
.post{
    width: 240px;
    height: 220px;
    margin-bottom: 52px;
    padding-top: 10px;
    font-size: 20px;
}
.post h2{
    color: var(--theme-entreteriment);
    
}

/*========== Bullet ============*/
.bullet{
    margin-top: 12px;
    height: 45px;
    font-size: 15px;
    padding-left: 12px;
}
.bullet li {
    color: var(--text);
}
.post ::marker{
    color: var(--theme-entreteriment);
}
/*========== Coluna Notice ============*/
.column-entreteriment{
    padding-right: 36px;
}
.column-entreteriment h2{
    color:var(--theme-notice);
}

.column-entreteriment ::marker{
    color: var(--theme-notice);
}

/*========== Centro ============*/
.section-main{
    max-width: 730px;
}
/*==========Noticia - MAIN ============*/
.main {
    height: 300px;
    width: 700px;
    margin-bottom: 30px;
}
.main h2{
    margin-bottom: 24px;
    padding-top: 10px;
    font-size: 64px;
    color: var(--theme-news);
}
/*========== Noticia - bullet  ============*/
.bullet-main li {
    padding-left: 0px;
}
.bullet-main{
    margin-top: 12px;
    height: 45px;
    font-size: 18px;
    padding: 4px 0;
    padding-left: 15px;
}
.bullet-main ::marker{
    color: var(--theme-news);
    padding: 0 4px;
}

/*========== Section Mini noticias  ============*/
.section-mini{
    margin: 0px 36px 0px 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 245px;
    border-top: 1px solid #ebedef;
    display: flex;
    justify-content: space-between;
}
/*========== Mini noticias  ============*/
.post-mini{
    max-width: 192px;
    height: 255px;
    font-size: 20px;
    margin-bottom: 20px;
}
.post-mini img {
    margin-bottom: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    width: 192px;
    height: 110px;
}
.post-mini h2 {
    color: var(--theme-news);
}
.post-mini ::marker {
    color: var(--theme-news);
}
/*========== Mini - bullet  ============*/
.bullet-mini{   
    margin-top: 10px;
    height: 45px;
    font-size: 15px;
    padding-left: 12px;
}