/*========== Geral============*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    color: black;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
} */
*{
    background-color: #fff;
    box-sizing: inherit;
    vertical-align: baseline;
}

header{
    display: flex;
    text-align: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.container {
    padding: 0 36px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.header-item{
    display: flex;
    position: sticky;
}

#menu{
    padding: 13px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.main-menu__menu {
    position: center;
    overflow: hidden;
    padding-right: 4px;
    margin-left: -13px;
}
.container #Menu-Menu{
    margin-left: 13px;
    font-size: 10px;
    display: flex;
    color: #2f3134;
}
.container #Menu-Assine{
    display: flex;
    padding:  0px 13px;
    color: #2f3134;
    border-left: 1px solid #ebedef;
}

.header-grid__logo {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/*
.header-grid__logo__link {
    margin: auto 0;
    display: flex;
}
.header-item logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    
} */


.auxiliary-menu {
    display: flex;
    align-items: center;
    margin-right: -13px;
    text-align: center;
}
.header-contaglobo {
    display: inline-flex;
    align-items: center;
}
.tooltip-contaglobo-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.auxiliary-menu__search {
    border-left: 1px solid #ebedef;
    padding-left: 8px;
    display: flex;
    margin-left: 14px;
}

/*lista */
.header-titles{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: baseline;
}
.header-titles a {
    display: flex;
    align-items: center;
    vertical-align: baseline;
    padding: 10px 12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    list-style-type: none;
    text-decoration: none;
}
.wapper-titles{
    padding: 0 36px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.g1 {
    color: #c4170c;
    margin-left: -2px;
    margin-right: -2px;
}

.valor {
    color: #1e4c9a;
    margin-right: -2px;
}

.oglobo{
    color: #006767;
    margin-right: -2px;
}

.ge{
    color: #06aa48;
    margin-right: -2px;
}

.cartola{
    color: #ff7400;
    margin-right: -2px;
}

.globoplay{
    color: #fb0234;
    margin-right: -2px;
}

.gshow{
    color: #ff6700;
    margin-right: -2px;
}

.quem{
    color: #333333;
    margin-right: -2px;
}

.compras{
    color: #f03018;
    margin-right: -2px;
}
.receitas{
    color: #a5147d;
    margin-right: -2px;
}